
html, body
{
    height: 100%;
}

.div-main{
    background-color: #ADDBE1;
    margin: 0 auto;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: hidden;
}

.logo{
    width:200px;
    height:80px;
}
.div-conteneur {
    background: #FFFFFF;
    background: rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 15px;
    margin: 10px auto 0;
    position: relative;
    cursor: auto;
    width: 90%;
    height: 100%;
    display: block;
}

.div-header{
    overflow: hidden;
    width: 100%;
    display:block;
    background: #FFFFFF;
    border-radius: 15px 15px 0 0;
    border: 1px solid #ABABAB;
    padding: 5px;
    margin: 3px;
}
.div-bienvenue{
    float: left;
    position: absolute;
    bottom: 0;
}
.div-bienvenue strong{
    font-size: 20px;
}
.div-header ul{
    float: right;
}

.div-panel{
    height: 100%;
    overflow: auto;
}

.div-left{
    float:left;
    width:23%;
    margin-right: 3px;
    /* border-radius: 15px 15px 0 0;
     border: 1px solid #ABABAB;
     padding: 5px;
     margin: 3px;
     height: 100%;
     float: left;
     width: 250px;*/
}

.div-right{
    float:left;
    width:75%;
    border-radius: 10px;
    border: 1px solid #ABABAB;
    padding: 5px;
    overflow: auto;
    height: 550px;
}

.date-position{
    position: absolute;
    top: 0;
    right:0;
    font-family:Serif;
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
    color: #757575;
    margin: 1%;
}

.p-white-space {
    white-space: pre-wrap;
}